.training-ausfuehren-page {
  background-color: #0e0e0e;
  color: #ffffff;
  min-height: 100vh;
}

.content-offset {
  padding: 16px;
}

.training-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 6px;
}

.content-offset > .training-title {
  margin-bottom: 40px !important;
}

.uebung-card {
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 14px 18px;
  margin-bottom: 14px;
  margin-top: 15px;

  display: flex;
  align-items: center;
}

.uebung-info {
  color: #ccc;
  flex-grow: 1;
  overflow-wrap: break-word;
}

.uebung-info strong {
  color: #fff;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-left: 0%;
  margin-top: 2%;
}

.uebung-info p {
  margin: 2px 0;
  font-size: 14px;
  margin-left: 0%;
}

.uebung-checkbox {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background-color: #222;
  border: 2px solid #444;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  margin-left: auto;
}

.uebung-checkbox.checked {
  background-color: #00c853;
  border-color: #00c853;
}

.uebung-checkbox.checked::after {
  content: "✔";
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

training-ausfuehren-page {
  --background: #0a0a0a !important;
  background-color: #0a0a0a !important;
  color: white !important;
}

ion-content.training-ausfuehren-page {
  --background: #0a0a0a !important;
  background: #0a0a0a !important;
}

html,
body {
  background-color: #0a0a0a;
}

/* === Bildanzeige === */
.uebung-img-wrapper {
  width: 90%;
  height: auto;
  margin-top: 12px;
  border-radius: 12px;
}

.uebung-img-wrapper.expanded {
  display: block;
}

.uebung-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}
